/* ==========================
   TOPBAR - CALORE 2.0
========================== */

.app-header{

    position:sticky;
    top:12px;
    z-index:1000;

    display:flex;
    align-items:center;

    width:calc(100% - 24px);
    margin:12px auto;

    padding:0 16px;

    height:76px;

    background:#fff;

    border-radius:28px;

    border:1px solid rgba(0,0,0,.05);

    box-shadow:
        0 8px 24px rgba(0,0,0,.06),
        0 2px 8px rgba(0,0,0,.03);
}

.app-title{

    display:flex;
    align-items:center;
    gap:12px;

    flex-shrink:0;

    font-size:24px;
    font-weight:700;

    color:#222;
}

.app-title span:first-child{
    font-size:40px;
}

.nav-icons{

    flex:1;

    display:flex;

    justify-content:space-around;

    align-items:center;

    margin-left:18px;

}

.nav-icons a{

    width:44px;
    height:44px;

    border-radius:12px;

    font-size:24px;

}

.nav-icons i{

    font-size:28px;

}

.nav-icons a:hover{
    color:#f55a18;
}

.nav-icons a.active{
    color:#f55a18;
}

.nav-icons a.active::after{

    bottom:-7px;

    left:6px;

    right:6px;

    height:3px;

}